{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <h1>Modifier le mot de passe</h1>

    <form method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
    </form>
    
    <a href="{{ path('app_profile') }}">Retour au profil</a>
{% endblock %}
